#chloropleth_map {
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
    height: 400px;
    width: 800px;
}

#interactive_chart {
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
    height: 400px;
    width: 800px; 
}